@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the place where you can find your favorite books,DVDs,Audio Books and Reference Books.</p>
</div>
